.App {
  height: 41vmin;
  text-align: center;
  text-shadow: #558383;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:yellowgreen;
  min-height: 5vh;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 10%;
  justify-content: flex-start;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(59, 59, 59);
}

.logo-container {
  margin-right: 20px; /* Add some space between the logo and the text */
}

.text-container {
  text-align: left; /* Align the text to the left */
}


.App-header span.below-text {
  display: block; /* This makes the <a> tag behave like a block-level element */
  /* Add any additional styling as needed */
  font-size: calc(5px + 1.6vmin);
  /* flex-direction: column; */
  min-height: 2vh;
  color: rgb(99, 98, 98);
  text-align: center;


}

.App-link {
  color: #487d8b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
